*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --primary: #2E5CD1;
  --secondary: #512ED1;
  --tertiary: #2EAED1;
  --primary-darker: #2346a0;
  --secondary-darker: #4024a5;
  --tertiary-darker: #2385a0;
  --light-text: #ebf0fb;
  --dark-text: #0b1531;
  --h2-font-size: 1.5rem;
}

body {
  font-family: 'Taviraj', Georgia, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary);
  color: var(--dark-text);
}

/* Won't work for the inputs I think */
h1,
h2,
h3,
h4,
h5,
h6,
input[class="header"],
button {
  font-family: 'Work Sans', Arial, sans-serif !important;
}

h1 {
  font-size: 2.2rem;
  padding: 0.8em 0;
  color: var(--light-text);
  text-shadow: 3px 3px var(--tertiary-darker);
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  text-align: center;
}

h2 {
  font-size: var(--h2-font-size);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button,
textarea {
  display: block;
  resize: none;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0);
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

button {
  border: none;
  color: inherit;
  text-decoration: none;
  background-color: none;
  font-weight: 500;
}

#form-container {
  width: 90%;
}

#note-form {
  background-color: var(--light-text);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 4px var(--dark-text);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

#text-input,
#title-input {
  border: 2px solid #0b153134;
  border-radius: 10px;
  width: 50%;
  padding: 0.5em;
  background-color: var(--light-text);
}

#title-input {
  font-weight: 700;
  font-family: 'Work Sans', Arial, sans-serif;
  font-size: calc(var(--h2-font-size) - 2px);
  margin-top: 0.5em;
}

#text-input {
  font-size: 1rem;
  font-family: 'Taviraj', Georgia, 'Times New Roman', serif;
  margin-top: 1em;
  margin-bottom: 1em;
  min-height: 180px;
}

#note-submit {
  padding: 0.7em 1em;
  border: none;
  border-radius: 1.2em;
  background-color: var(--secondary);
  color: var(--light-text);
  font-size: 1.1em;
  font-weight: 500;
  margin: 1em 0 0.5em;
}

#note-container {
  padding: 1em;
  display: grid;
  grid-auto-flow: row;
  /* this works for columns for now,
  but maybe try to figure out how to
  make the # of clms respond to the 
  # of notes */
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: 1em;
}

.note-button {
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  background-color: none;
}

.note {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: var(--light-text);
  padding: 1rem;
  box-shadow: none;
  overflow: hidden;
}

.note:not([data-title])::after {
  content: '';
  background-color: var(--tertiary);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: calc(var(--h2-font-size) + 1rem + 4px);
}

.note:hover {
  box-shadow: 0px 4px var(--dark-text);
}

.note-title {
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
  position: relative;
  z-index: 1;
}

.note-text {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bi.bi-three-dots-vertical {
  fill: var(--secondary-darker);
  fill-opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
  height: calc(var(--h2-font-size) + 1rem + 4px);
  width: auto;
  padding: 0.6rem;
  z-index: 2;
}

.bi.bi-three-dots-vertical:hover {
  fill-opacity: 0.9;
}

.hidden-menu {
  position: absolute;
  right: 0;
  top: calc(var(--h2-font-size) + 1rem + 4px);
  display: none;
  flex-direction: column;
  min-width: 90px;
  border: 1px solid var(--dark-text);
  border-top: none;
  border-right: none;
  border-radius: 0px 0px 0px 8px;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--light-text);
  font-size: 0.9rem;
  padding: 0.5rem;
  border-bottom: 1px solid #0b153134;
}

.menu-button:last-of-type {
  border-bottom: none;
  border-bottom-left-radius: 8px;
}

.menu-icon {
  height: 1.2em;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.inner-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 50%;
  max-width: 90%;
  min-height: 50%;
  max-height: 90%;
  background-color: var(--light-text);
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
}

.inner-modal::after {
  content: '';
  background-color: var(--tertiary);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: calc(var(--h2-font-size) + 1rem + 6px);
}

.modal-header {
  position: relative;
  z-index: 1;
}

.modal-title {
  font-weight: 700;
  font-family: 'Work Sans', Arial, sans-serif;
  background-color: var(--tertiary);
  font-size: calc(var(--h2-font-size) - 2px);
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.close-modal {
  fill: var(--secondary-darker);
  fill-opacity: 0.6;
  position: absolute;
  right: -1rem;
  top: -1rem;
  height: calc(var(--h2-font-size) + 1rem + 4px);
  width: auto;
  padding: 0.6rem;
  z-index: 2;
}

.close-modal:hover {
  fill-opacity: 0.9;
}

.modal-content {
  /* height: calc(100% - calc(var(--h2-font-size) + 1rem + 4px) - 1rem); */
  white-space: pre-wrap;
  min-height: 300px;
  margin-top: 3px;
  height: auto;
  overflow-y: auto;
  padding: 0.5em;
  background-color: var(--light-text);
  font-size: 1rem;
  font-family: 'Taviraj', Georgia, 'Times New Roman', serif;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 480px) {

  #form-container {
    width: 100%;
  }

  #note-form {
    width: 90%;
  }

  #title-input,
  #text-input {
    width: 100%;
  }
}

@media only screen and (min-width: 481px) {
  #note-container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
  }
}

@media only screen and (min-width: 769px) {
  #note-container {
    grid-template-columns: repeat(3, 230px);
  }
}