*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button,
textarea {
  display: block;
}

#note-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#note-container {
  padding: 1em;
  display: grid;
  grid-auto-flow: row;
  /* this works for columns for now,
  but maybe try to figure out how to
  make the # of clms respond to the 
  # of notes */
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: 1em;
}

.note {
  border: 1px solid black;
  overflow: hidden;
}

.note-title {
  white-space: nowrap;
  overflow: clip;
}

.note-text {

  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 481px) {
  #note-container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
  }
}

@media only screen and (min-width: 769px) {
  #note-container {
    grid-template-columns: repeat(3, 230px);
  }
}

@media only screen and (max-width: 480px) {

}